@import "../abstracts/colors.scss";

$radius: 5px;

@mixin flex-center($direction: column) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin page {
    display: grid;
    width: 100%;
    gap: 30px;

    section {
        display: flex;
        background: $section-bg;
        border-radius: $radius;
        width: 100%;
        height: 100%;
    }
}
