
<form action="" method="get" class="form-example">
  <div class="form-item">
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-item">
    <input type="submit" value="Subscribe!">
  </div>
</form>

@code{

}
