@inherits LayoutComponentBase
@using mcc_wasm.Services;
@inject StateContainer Service;

<Modal Open=@contactOpen Toggle="FormToggle">
    <Body>
        <ContactForm />
    </Body>
    <Footer>
        Footer
    </Footer>
</Modal>

<div class="page">
    <div id="nav-container">
        <div id="navbar">
            <NavMenu ContactToggle="FormToggle" />
        </div>
    </div>

    <main>
        <div id="page-content">
            @Body
        </div>
    </main>
</div>

@if (contactOpen)
{
    <style>
        body {
            overflow: hidden;
        }
    </style>
}
@code {
    public bool contactOpen = false;
    public void FormToggle()
    {
        contactOpen = !contactOpen;
        StateHasChanged();
    }
}
