@if (Open)
{
    <div class="modal-container show">
        <div class="modal-background" @onclick="OnClick"></div>
        <section class="content show">
            <div class="body">
                @Body
            </div>
            <div class="footer">
                @Footer
            </div>
        </section>
    </div>
}
else
{
    <div class="modal-container hide">
        <div class="modal-background" @onclick="OnClick"></div>
        <section class="content hide">
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">
                @Footer
            </div>
        </section>
    </div>
}

@code {
    [Parameter]
    public EventCallback Save { get; set; }
    [Parameter]
    public EventCallback Toggle { get; set; }
    [Parameter]
    public RenderFragment Body { get; set; }
    [Parameter]
    public RenderFragment Footer { get; set; }
    [Parameter]
    public bool Open { get; set; } = false;

    public async void OnSave()
    {
        await Save.InvokeAsync();
    }

    public async void OnClick()
    {
        await Toggle.InvokeAsync();
    }
}