@using mcc_wasm.Services;
@using System.Linq;

@inject StateContainer Service;

@foreach (var option in options)
{
    @if (Service.activeNav == option)
    {
        <p class="active" @onclick="()=>SetActiveOption(option)">
            @option
        </p>
    }
    else if (option == "Cleaning Services")
    {
        <div class="nav-service">
            <p>@option</p>
            <datalist>
                @foreach (var service in services)
                {
                    if (Service.activeNav == service)
                    {
                        <p @onclick="()=>SetActiveOption(service)" class="active">@service</p>
                    }
                    else
                    {
                        <p @onclick="()=>SetActiveOption(service)" class="inactive">@service</p>
                    }
                }
            </datalist>
        </div>
    }
    else
    {
        <p class="inactive" @onclick="()=>SetActiveOption(option)">@option</p>
    }
}
@code {
    public string[] options = new string[] { "Home", "Cleaning Services", "About", "Gallery", "Blogs" };
    public string[] services = new string[] { "Carpet", "Rugs", "Upholstery", "Tile", "Stain Removal", "Commercial Carpet" };
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public void SetActiveOption(string option)
    {
        Service.activeNav = option;
        NavigationManager.NavigateTo("/" + String.Concat(option.Where(c => !Char.IsWhiteSpace(c))));
        StateHasChanged();
    }
}
