@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes menu-item-activate {
  0% {
    border-bottom: 1px dotted black;
  }
  100% {
    border-bottom: 1px solid black;
  }
}
body {
  background: #284b63;
}

.page {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-areas: "nav" "main";
}

main {
  grid-area: main;
}

.sidebar {
  height: min-content;
  grid-area: nav;
  display: flex;
  width: 100%;
  padding-top: 3%;
  justify-content: center;
  gap: 5%;
  flex-direction: row;
}
.sidebar .nav-service {
  padding: 5px;
}
.sidebar .nav-service:hover > datalist {
  animation: menu-animation 300ms ease-in-out;
  display: inline;
  position: absolute;
}
.sidebar .nav-service:hover > datalist p {
  font-size: 1rem !important;
}
.sidebar .active {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.sidebar .inactive {
  border-bottom: none;
}
.sidebar p {
  padding: 5px !important;
  padding-top: 2px !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
}
