@page "/About"

<div id="about">
    <div>

        <h3 class="family">Family</h3>
        <section class="one">
            <p>
                I’m from a family of 10 kids and they are all the best friends of my life. My Dad  & Mom are loving and supportive and I thank God for allowing me to have them. <br />
                I am married to the most impressive person that I know and my true love! I have four children ages 14, 7, 2,&1 and I’m happy to be home with them every night, something that wasn’t possible working for others.
            </p>
        </section>
    </div>
    <div>
        <h3 class="starting">Getting Started</h3>
        <section class="two">
            <p>
                I had a typical blue-collar up bringing as I started to work for other people in my teens. As I worked for others I always knew that there was a possibility of me owning my own business and working for myself but, it never seemed like a real possibility since I didn’t know anything about it!
                After spending four years working in the carpet cleaning industry, I started building homes and eventually started working for Halliburton in Oil&Gas.

                I worked hard for Halliburton and learned that my earning potential was much higher with that huge corporation than with small businesses as an employee.

                After 10 years of working away from home, my wonderful wife encouraged me to start my own business and ask me what I’d like to do. I had always known that carpet cleaning was the trade I would choose if given the option because I am great at it and I enjoy the satisfaction of showing up at someone’s home and making a fantastic difference for them. I enjoy rolling out the hoses prepping the job and then packing the truck up and moving on to a new client, sometimes five times in a day! With my wife’s encouragement I sought to purchase the equipment and set up an LLC, it was far easier than it should’ve been due to the technology available to us all!
            </p>
        </section>
    </div>
    <div>

        <h3 class="job">The Job</h3>
        <section class="three">
            <p>
                So after mulling it over for six months, God bless America, I’m a business owner! I live in Franklin and service Franklin Brentwood, & Springhill. For my  first three years in business, I did all the work alone but, for the last 6 months, I’ve been blessed to have a man helping me.

                It’s fun to share the reason why I choose Carpet Cleaning among the many trades that I’ve had in my life. Beyond the reasons already stated, a motivating reason is that it requires me to practice and put into effect all of the different skills and virtues  that I’ve learned will make me into the best man I can be : Integrity, honesty, meticulous attention to detail, honest labor for fair pay, effort, long suffering and more. I don’t claim to be a master of the skills and virtues but, this job gives me a chance to practice them and I don’t know that anyone could ask for anything more!
            </p>
        </section>
    </div>
</div>