@page "/Home"

<PageTitle>Miraculous Carpet Care</PageTitle>

<Modal Open=@contactOpen Toggle="Toggle">
    <Body>
        <ContactForm/>
    </Body>
    <Footer>
        Footer
    </Footer>
</Modal>

<button class="modal-toggle" @onclick="Toggle">
    Launch
</button>

<div id="home">
    <section class="one"></section>
    <section class="two"></section>
    <section class="three"></section>
    <section class="four"></section>
    <section class="five"></section>
</div>


@code{
    public bool contactOpen = false;
    public void Log()
    {
        Console.WriteLine("Hello");
    }
    public void Toggle()
    {
        contactOpen = !contactOpen;
        StateHasChanged();
    }
}
