@page "/Upholstery"

<PageTitle>Miraculous Carpet Care</PageTitle>
<h1>Upholstery</h1>

<div id="home">
    <section class="one"></section>
    <section class="two"></section>
    <section class="three"></section>
    <section class="four"></section>
    <section class="five"></section>
</div>
